<div class = "tokushima-main" >
  
<h1>徳島県</h1>

<div id="map"></div>
  <style type="text/css">
    #map {
      height:400px;
    }
  </style>
  <script type="text/javascript">
        L.Icon.Default.imagePath = "/assets";
        var map = L.map('map').setView([34, 134],17);
        var osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
        var osmAttrib = "Map data OpenstreetMap contributors";
        L.tileLayer(osmUrl,{
          attribution: osmAttrib,
          maxZoom: 20,
        }).addTo(map);

  </script>

<p>天気（Openweathermap）</p>
<p>寺ポイント</p>
<p>バス停・駅・空港→選んだら時刻表表示（予約連動）</p>
<p>道の駅・温泉・スーパー・コンビニ</p>

<p>モデルルート</p>

<p>寺名→選んだら寺の説明・周辺の名産、観光、グルメ、ホテル（予約連動）、イベント、お祭り</p>

</div>
