<head>
 <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
 <script src='lib/jquery.min.js'></script>
 <script src='lib/moment.min.js'></script>
 <script src='fullcalendar/fullcalendar.js'></script>
</head>

<div class = "users-main"></div>

<h1>Your Routes88</h1>

<div id="map"></div>
  <style type="text/css">
    #map {
      height:400px;
    }
  </style>
  <script type="text/javascript">
        L.Icon.Default.imagePath = "/assets";
        var map = L.map('map').setView([33, 133],17);
        var osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
        var osmAttrib = "Map data OpenstreetMap contributors";
        L.tileLayer(osmUrl,{
          attribution: osmAttrib,
          maxZoom: 20,
        }).addTo(map);

  </script>
  
 <p>目標の日入力</p>
 <p>目標の日まであと？日</p>
 <p>今日１日で？km移動しました（出発点と到着点を記入して計算？）</p>
 <p>地図上にマーカーを各寺につけて、行ったらクリックして色が変わる</p>
 <p>（↑でマーカーの数を数えて）あと？ヶ所です</p>
 
 <div id="calendar"></div>
 
 </div>